<button class="button copy" data-cmd="copy">Copy</button>
<div role="menu" class="console-commands">
    <button role="menuitem" class="button run" data-cmd="run">Run Code</button>
    <button role="menuitem" class="button clear" data-cmd="reset">Reset Editor</button>
    <button role="menuitem" class="button clear" data-cmd="clear">Clear Console</button>
</div>
<output class="console">
    <span class="log-row log-return">"return"</span>
    <span class="log-row log-normal">log</span>
    <span class="log-row log-warn">Warning.</span>
    <span class="log-row log-error">Error.</span>
    <span class="log-row log-hint">You got this wrong N times, so here's a hint.</span>
    <span class="log-row log-success">You got the right answer.</span>
</output>